<div class="ng-cloak" style="height:370px;width:600px;">
  <form class="form-horizontal">
    <fieldset>
      <!-- ImageCreator -->
      <legend>Updated on the fly in an SVG graphic via AngularJS.</legend>
      <div class="form-group col-md-6">
        <div id="color"></div>
        <div id="mode"></div>
        <div id="initrot"></div>
        <div id="shape"></div>
        <div id="radius"></div>
        <div id="pitch"></div>
        <br>
          <button ng-click="generateImage()">Generate</button>
        </div>
    </div>
    </fieldset>
  </form>
</div>
